.percent {
  display: flex;
  .item {
    text-align: right;
  }
  .colorItem {
    font-size: 24px;
    padding-right: 6px;
  }
  .textItem {
    margin-top: 5px;
    font-size: 12px;
    line-height: 12px;
  }
}