.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  .mapContainer {
    position: absolute;
    top: 120px;
    bottom: 80px;
    left: 0;
    right: 0;
  }
}
