.panel {
  background-color: #fff;
  overflow: hidden;
  height: 455px;
  .title {
    padding-left: 100px;
  }
  .name {
    text-align: center;
    font-size: 12px;
  }
  .detail {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 60px;
    .content {
      flex: 1;
    }
    .iconContainer {
      width: 100px;
      .icon {
        font-size: 60px;
        color: #b2b2b2;
      }
    }
  }
  .categoryPercent {
    margin-top: 20px;
  }
  .emptyTip {
    position: absolute;
    color: rgba(0, 0, 0, 0.65);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
